{% for bloque in bloques %}
  
  {% if bloque.tipo_id == 4 %}
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-list"></i>
        </span>
        <span class="panel-title">{{ bloque.tipo_nombre }} <code>.parametro1 (pendiente)</code></span>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="form-horizontal">
            {% for parametro in bloque.parametros %}
            <div class="form-group">
              <label for="input_nombre" class="col-lg-2 control-label">{{ parametro.nombre }}</label>
              <div class="col-lg-5">
                  <div>
                    <input type="text" name="input_nombre" class="form-control" value="{{ parametro.valor }}">
                  </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  {% endif %}

  {% if bloque.tipo_id == 1 %}
  <div class="panel">
  	<div class="panel-heading">
  		<span class="panel-icon">
  		  	<i class="fa fa-list"></i>
  		</span>
  		<span class="panel-title">{{ bloque.tipo_nombre }} <code>.bloque1(pendiente)</code></span>
  	</div>
  	<div class="panel-body">

      {% for seccion in bloque.secciones %}

        {% if seccion.item.texto is defined %}
        <div>
          <div class="btn_edit">
            <a href="#" class="btn btn-success btn_editar" data-id="{{ seccion.item.texto.texIdPk }}" data-tipo="{{ seccion.item.texto.texTipo }}" data-value="{{ seccion.item.texto.texTexto }}"> <i class="fa fa-edit"></i> Editar</a>
          </div>
          <code>.titulo1 (pendiente)</code>
          {% if seccion.item.texto.texTipo == 1 %}
            <h1 class="mtn">{{ seccion.item.texto.texTexto ? seccion.item.texto.texTexto : '...' }}</h1>
          {% else %}
            <p style="font-size: 16px;">{{ seccion.item.texto.texTexto ? seccion.item.texto.texTexto : '...' }}</p>
          {% endif %}
        </div>
        <hr class="alt short">
        {% endif %}

        {% if seccion.item.imagen is defined %}
        <div class="content_image">
          <code>.imagen1 (pendiente)</code>
          <div class="view_image">
            <div>
                <img style="max-height: 300px;" src="{{ absolute_url(asset('assets/img/default-image.png')) }}" alt="">
            </div>
          </div>
        </div>
        {% endif %}

      {% endfor %}

  	</div>
  </div>
  {% endif %}

  {% if bloque.tipo_id == 2 %}
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-list"></i>
        </span>
        <span class="panel-title">{{ bloque.tipo_nombre }} <code>.Noticias1 (pendiente)</code></span>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <h1>{{ bloque.nombre }}</h1>
          </div>
          <div class="col-lg-12">
            <a href="#" class="btn btn-hover btn-primary">Administrar</a>
          </div>
        </div>

      </div>
    </div>
  {% endif %}

{% endfor %}