<!DOCTYPE html>
<html>

<head lang="es">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>{{ default_data.header.title is defined ? default_data.header.title : 'Admin' }} | CMS PROJECT</title>
  <meta name="keywords" content="{{ default_data.header.keywords is defined ? default_data.header.keywords : 'cms,admin' }}" />
  <meta name="description" content="{{ default_data.header.description is defined ? default_data.header.description : 'Administrador de contenido' }}">
  <meta name="author" content="{{ default_data.header.autor is defined ? default_data.header.autor }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600'>

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/skin/default_skin/css/theme.css')) }}">
  <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/skin/default_skin/css/cmsproject.css')) }}">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/admin-tools/admin-forms/css/admin-forms.css')) }}">

  {% block stylesheet %}
  {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ absolute_url(asset('assets/img/favicon.ico')) }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body class="{{ default_data.class_body is defined ? default_data.class_body }}">

  {% block body %}
  {% endblock %}

  <!-- BEGIN: PAGE SCRIPTS -->

  <!-- jQuery -->
  <script src="{{ absolute_url(asset('vendor/jquery/jquery-1.11.1.min.js')) }}"></script>
  <script src="{{ absolute_url(asset('vendor/jquery/jquery_ui/jquery-ui.min.js')) }}"></script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  <!-- Theme Javascript -->
  <script src="{{ absolute_url(asset('assets/js/utility/utility.js')) }}"></script>
  <script src="{{ absolute_url(asset('assets/js/demo/demo.js')) }}"></script>
  <script src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>
  <script src="{{ absolute_url(asset('assets/js/app.js')) }}"></script>

  <!-- Widget Javascript -->
  <script src="{{ absolute_url(asset('assets/js/demo/widgets.js')) }}"></script>

  {% block script %}
  {% endblock %}

  <script type="text/javascript">
  jQuery(document).ready(function() {

    "use strict";

    // Init Theme Core      
    Core.init();

    // Init Demo JS
    Demo.init();

  });
  </script>

  <!-- END: PAGE SCRIPTS -->

</body>

</html>
